* {
	border-radius: 0 !important;
}
@media (min-width: 768px) { 
	.col-lg-8 {
		margin-left: 10%;
	}
}
.tongji{
	text-align: center;
    margin-top: 50px;
    font-size: 12px;
	color:#AAAAAA;
}
@media (min-width: 992px) { 
	.col-lg-8 {
		margin-left: 16.66666667%;
	}
}


footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #35495e;
	text-align: center;
}

footer>span,
footer>a {
	color: #fff;
	font-size: 20px;
}

.level_id {
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0;
	color: #CCC;
}

.button-slot {
	/* width: 100%; */
	text-align: center;
	line-height: 60px;
	background-color: #35495e;
	color: #fff;
	cursor: pointer;
}

.title {
	color: #CCC;
	text-align: center;
	font-weight: lighter;
	margin-top: 0;
}

.codename {
	font-weight: lighter;
	color: #333;
	text-align: center;
}

.btn-secondary {
	background-color: #35495e;
	height: 100%;
}

.contentbox {
	margin-top: 80px;
	margin-bottom: 50px;
	text-align: center;
}
